body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:949px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:811px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:73px;
  width:430px;
  height:811px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:619px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:169px;
  width:381px;
  height:619px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:197px;
  width:100px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:200px;
  width:69px;
  height:29px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:207px;
  width:8px;
  height:16px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:562px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:226px;
  width:381px;
  height:562px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:273px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:236px;
  width:381px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:281px;
  width:381px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  word-wrap:break-word;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:248px;
  width:23px;
  height:16px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:293px;
  width:23px;
  height:16px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:197px;
  width:137px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:259px;
  width:59px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
