body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:715px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:347px;
  width:430px;
  height:715px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:96px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1062px;
  width:430px;
  height:96px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:619px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:443px;
  width:381px;
  height:619px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:472px;
  width:87px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:467px;
  width:69px;
  height:29px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:474px;
  width:8px;
  height:16px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:234px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:828px;
  width:381px;
  height:234px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:109px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:330px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:501px;
  width:381px;
  height:330px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:157px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:520px;
  width:381px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:377px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:475px;
  width:38px;
  height:23px;
  font-size:16px;
  color:#FFFFFF;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
