body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:974px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:811px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:159px;
  width:430px;
  height:811px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:619px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:255px;
  width:381px;
  height:619px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:279px;
  width:128px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:124px;
  word-wrap:break-word;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:279px;
  width:69px;
  height:29px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:286px;
  width:8px;
  height:16px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:562px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:312px;
  width:381px;
  height:562px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:273px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:343px;
  width:381px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  word-wrap:break-word;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:383px;
  width:381px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:377px;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:383px;
  width:381px;
  height:1px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:530px;
  width:381px;
  height:185px;
  font-size:14px;
  text-align:left;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:571px;
  width:71px;
  height:45px;
  font-size:14px;
  color:#999999;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:571px;
  width:381px;
  height:1px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:651px;
  width:300px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:616px;
  width:174px;
  height:25px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
