body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:123px;
  width:430px;
  height:880px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:672px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:227px;
  width:381px;
  height:672px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:590px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:309px;
  width:381px;
  height:590px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:256px;
  width:381px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:377px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:382px;
  width:349px;
  height:44px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:345px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:392px;
  width:15px;
  height:25px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:479px;
  width:239px;
  height:44px;
  font-size:14px;
  color:#999999;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:235px;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:479px;
  width:100px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:685px;
  width:302px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:275px;
  width:8px;
  height:16px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
