body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:811px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:395px;
  width:430px;
  height:811px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:619px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:491px;
  width:381px;
  height:619px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 42, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:516px;
  width:69px;
  height:29px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:523px;
  width:8px;
  height:16px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 42, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:514px;
  width:69px;
  height:29px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
