body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1007px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:811px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:217px;
  width:430px;
  height:811px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:619px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:313px;
  width:381px;
  height:619px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:139px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:367px;
  width:381px;
  height:139px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:403px;
  width:64px;
  height:64px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:410px;
  width:42px;
  height:50px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 51, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:403px;
  width:210px;
  height:32px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:206px;
  word-wrap:break-word;
}
#u1298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:394px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:538px;
  width:381px;
  height:394px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:189px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:506px;
  width:381px;
  height:71px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:516px;
  width:64px;
  height:52px;
  font-size:14px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:587px;
  width:381px;
  height:178px;
  text-align:left;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:81px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:402px;
  width:27px;
  height:21px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:599px;
  width:23px;
  height:23px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:630px;
  width:381px;
  height:1px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:642px;
  width:23px;
  height:23px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:675px;
  width:381px;
  height:1px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:638px;
  width:331px;
  height:35px;
  text-align:left;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:679px;
  width:331px;
  height:35px;
  text-align:left;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:593px;
  width:331px;
  height:35px;
  text-align:left;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:338px;
  width:47px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(18, 19, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:339px;
  width:73px;
  height:28px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 51, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:435px;
  width:104px;
  height:17px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:860px;
  width:381px;
  height:72px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:885px;
  width:22px;
  height:23px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:885px;
  width:26px;
  height:23px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9900;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:912px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#FF9900;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:912px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:685px;
  width:27px;
  height:23px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:881px;
  width:40px;
  height:40px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:738px;
  width:23px;
  height:20px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:721px;
  width:381px;
  height:1px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:730px;
  width:331px;
  height:35px;
  text-align:left;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:327px;
  word-wrap:break-word;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:469px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:313px;
  width:381px;
  height:469px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:782px;
  width:381px;
  height:150px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:824px;
  width:50px;
  height:36px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:824px;
  width:50px;
  height:36px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:860px;
  width:68px;
  height:32px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:860px;
  width:68px;
  height:32px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
